

.banner {
	background: var(--color-bg-opacity-dark);
	border: var(--shape-border-width) solid var(--color-bg-secondary);
	display: inline-flex;
	flex-direction: column;
	gap: var(--spacing-sm);
	left: 50%;
	padding: var(--spacing-sm) var(--spacing-lg);
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: var(--z-index-above-default);

	img {
		max-width: 120px;
	}
}
