.card {
	background: var(--color-bg-secondary);
	border: var(--shape-border-width) solid var(--color-shape-border);
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: var(--spacing-sm);
	padding: var(--spacing-sm);

	&--title {
		color: var(--color-text-secondary);
		font-weight: var(--font-weight-bold);
	}

	&--row {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing-xs);
		justify-content: flex-end;
	}
}
