.game-status-bar {
	align-items: center;
	background: var(--color-bg-secondary);
	border: var(--shape-border-width) solid var(--color-shape-border);
	flex: 1;
	font-weight: var(--font-weight-bold);
	gap: var(--spacing-sm);
	justify-content: space-between;
	padding: var(--spacing-sm);
}

.game-board {
	background: var(--color-shape-border);
	clip-path: polygon(0 0,100% var(--shape-offset),calc(100% - var(--shape-offset)) 100%,var(--shape-offset) 100%);
	display: flex;
	flex-direction: column;
	flex: 1;
	max-height: 90vh;
	max-width: 100vw;
	overflow: hidden;
	position: relative;
	touch-action: manipulation;
	user-select: none;

	&:after {
		background: var(--color-shape-bg);
		clip-path: polygon(var(--shape-border-width) var(--shape-border-width),calc(100% - var(--shape-border-width)) calc(var(--shape-offset) + var(--shape-border-width)),calc(100% - var(--shape-offset) - var(--shape-border-width)) calc(100% - var(--shape-border-width)),calc(var(--shape-offset) + var(--shape-border-width)) calc(100% - var(--shape-border-width)));
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&--container {
		display: block;
		height: 100%;
		overflow: auto;
		position: relative;
		width: 100%;
		z-index: var(--z-index-default);
	}

	&--content {
		width: 3000px;
	}

	&--image {
		display: block;
		margin: 0;
	}
}

.treasure {
	align-items: center;
	background: var(--color-bg-opacity-dark);
	border: 2px solid var(--color-bg-secondary);
	border-radius: var(--radius-full);
	display: flex;
	font-size: var(--font-size-text-xlarge);
	height: calc(var(--font-size-text-xlarge) * 2);
	justify-content: center;
	position: absolute;
	transform: translate(-50%, -50%);
	width: calc(var(--font-size-text-xlarge) * 2);
	z-index: var(--z-index-default);

	&:active {
		transform: translate(-50%, -50%) scale(0.98);
	}
}

.banner {
	background: var(--color-bg-opacity-dark);
	border: var(--shape-border-width) solid var(--color-bg-secondary);
	font-weight: var(--font-weight-bold);
	left: 50%;
	padding: var(--spacing-sm) var(--spacing-lg);
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
		z-index: var(--z-index-above-default);
}
