$breakpoint-desktop: 900px;

:root {
	// Color Palette
	--color-palette-blue-100: #c9d5d4;

	--color-palette-blue-300: #3d89a8;
	--color-palette-blue-300-rgb: 61, 137, 168;
	--color-palette-blue-500: #276278;
	--color-palette-blue-800: #1F4E79;

	--color-palette-red-300: #E63946;
	--color-palette-red-500: #c31317;
	--color-palette-red-800: #7f0910;

	--color-palette-yellow-300: #ffe99a;
	--color-palette-yellow-500: #F4D35E;
	--color-palette-yellow-800: #d29f3a;

	--color-palette-black: #111010;
	--color-palette-gray-500: #454545;
	--color-palette-white: #ffffff;

	// Color Tokens
	--color-bg-primary: var(--color-palette-blue-800);
	--color-bg-secondary: var(--color-palette-blue-300);
	--color-bg-secondary-rgb: var(--color-palette-blue-300-rgb);
	--color-bg-opacity-light: rgba(0, 0, 0, 0.25);
	--color-bg-opacity-med: rgba(0, 0, 0, 0.5);
	--color-bg-opacity-dark: rgba(0, 0, 0, 0.75);

	--color-text-primary: var(--color-palette-white);
	--color-text-secondary: rgba(255, 255, 255, 0.75);

	--color-btn-primary-bg-default: var(--color-palette-yellow-500);
	--color-btn-primary-bg-hover: var(--color-palette-yellow-800);
	--color-btn-primary-border-default: transparent;
	--color-btn-primary-border-hover: transparent;
	--color-btn-primary-text-default: var(--color-palette-black);
	--color-btn-primary-text-hover: var(--color-palette-black);

	--color-btn-secondary-bg-default: var(--color-bg-opacity-med);
	--color-btn-secondary-bg-hover: var(--color-bg-opacity-light);
	--color-btn-secondary-border-default: transparent;
	--color-btn-secondary-border-hover: transparent;
	--color-btn-secondary-text-default: var(--color-palette-white);
	--color-btn-secondary-text-hover: var(--color-palette-white);

	--color-form-input-bg: var(--color-bg-opacity-light);
	--color-form-input-placeholder: var(--color-text-secondary);

	// Shapes
	--color-shape-bg: var(--color-palette-black);
	--color-shape-border: var(--color-palette-yellow-800);
	--shape-border-width: 3px;
	--shape-offset: 10px;

	@media (min-width: $breakpoint-desktop) {
		--shape-border-width: 6px;
		--shape-offset: 20px;
	}

	// Spacing
	--spacing-xxs: 4px;
	--spacing-xs: 8px;
	--spacing-sm: 16px;
	--spacing-md: 24px;
	--spacing-lg: 32px;
	--spacing-xl: 40px;

	// Border radius
	--radius-xs: 8px;
	--radius-sm: 12px;
	--radius-md: 16px;
	--radius-lg: 18px;
	--radius-full: 999px;

	// Typography
	--font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

	--font-size-text-xlarge: 2rem;
	--font-size-text-large: 1.125rem;
	--font-size-text-default: 1rem;
	--font-size-text-small: 0.75rem;

	--font-line-height-text-default: 1.625;

	--font-weight-normal: 400;
	--font-weight-bold: 700;

	// Animation
	--anim-speed-fast: 150ms;
	--anim-speed: 300ms;
	--anim-speed-slow: 500ms;
	--anim-speed-slower: 800ms;
	--anim-speed-slowest: 1000ms;

	--anim-ease: ease-out;

	// Z-Index
	--z-index-default: 1;
	--z-index-above-default: 2;
}
