@use '../variables';

.btn {
	align-items: center;
	background: var(--color-btn-primary-bg-default);
	border-bottom-right-radius: var(--radius-xs);
	border-top-left-radius: var(--radius-xs);
	border: 0;
	color: var(--color-btn-primary-text-default);
	cursor: pointer;
	display: inline-flex;
	gap: var(--spacing-xs);
	font-family: var(--font-family);
	font-size: var(--font-size-text-default);
	font-weight: var(--font-weight-normal);
	justify-content: center;
	line-height: var(--font-line-height-text-default);
	padding: var(--spacing-xs);
	touch-action: manipulation;
	transition: all var(--anim-speed) var(--anim-ease);

	@media (min-width: variables.$breakpoint-desktop) {
		border-bottom-right-radius: var(--radius-sm);
		border-top-left-radius: var(--radius-sm);
		padding: var(--spacing-sm);
	}

	&:hover,
	&:focus-visible {
		background: var(--color-btn-primary-bg-hover);
		color: var(--color-btn-primary-text-hover);
	}

	&-secondary {
		background: var(--color-btn-secondary-bg-default);
		color: var(--color-btn-secondary-text-default);

		&:hover,
		&:focus-visible {
			background: var(--color-btn-secondary-bg-hover);
			color: var(--color-btn-secondary-text-hover);
		}
	}

	&--icon {
		margin: 0;
		max-width: 1.5em;
		width: 1.5em;

		&.grayscale {
			filter: grayscale(1);
		}
	}
}

.btn-toggle {
	display: inline-flex;
	gap: 0;
	border: none;
	border-radius: 4px;
	overflow: hidden;

	&--option {
		appearance: none;
		background: var(--color-form-input-bg);
		border: none;
		color: var(--color-text-primary);
		cursor: pointer;
		flex: 1;
		font-family: var(--font-family);
		font-size: var(--font-size-text-small);
		font-weight: var(--font-weight-normal);
		padding: var(--spacing-xs) var(--spacing-sm);
		transition: all var(--anim-speed) var(--anim-ease);

		&.selected {
			background: var(--color-btn-primary-bg-default);
			color: var(--color-btn-primary-text-default);
		}
	}
}
