.btn {
	background: var(--color-btn-primary-bg-default);
	border-radius: var(--radius-sm);
	border: 1px solid var(--color-btn-primary-border-default);
	color: var(--color-btn-primary-text-default);
	cursor: pointer;
	font-weight: var(--font-weight-bold);
	padding: var(--spacing-sm) var(--spacing-md);
	touch-action: manipulation;
	transition: all var(--anim-speed) var(--anim-ease);

	&:hover,
	&:focus-visible {
		background: var(--color-btn-primary-bg-hover);
		border-color: var(--color-btn-primary-border-hover);
		color: var(--color-btn-primary-text-hover);
	}

	&-secondary {
		background: var(--color-btn-secondary-bg-default);
		border-color: var(--color-btn-secondary-border-default);
		color: var(--color-btn-secondary-text-default);

		&:hover,
		&:focus-visible {
			background: var(--color-btn-secondary-bg-hover);
			border-color: var(--color-btn-secondary-border-hover);
			color: var(--color-btn-secondary-text-hover);
		}
	}
}
