@use '../variables';

.form-label {
	font-size: var(--font-size-text-default);
	line-height: var(--font-line-height-text-headline);
}

.form-input {
	background: var(--color-form-input-bg);
	border: 0;
	color: var(--color-text-primary);
	display: inline-flex;
	flex: 1;
	font-family: var(--font-family);
	font-size: var(--font-size-text-default);
	font-weight: var(--font-weight-normal);
	height: 100%;
	line-height: var(--font-line-height-text-default);
	outline: none;
	padding: var(--spacing-xs);
	text-align: center;

	&[type='number'] {
		-moz-appearance: textfield;
		appearance: textfield;
		flex: unset;
		width: 4rem;
	}

	&[type='number']::-webkit-outer-spin-button,
	&[type='number']::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&::-moz-number-spin-box {
		display: none;
	}

	&::placeholder {
		color: var(--color-form-input-placeholder);
	}
}
