@use '../variables';

.form-input {
	background: var(--color-form-input-bg);
	border: 0;
	color: var(--color-text-primary);
	flex: 1;
	font-family: var(--font-family);
	font-size: var(--font-size-text-small);
	min-width: 140px;
	outline: none;
	padding: var(--spacing-xs);

	&::placeholder {
		color: var(--color-form-input-placeholder);
	}

	@media (min-width: variables.$breakpoint-desktop) {
		font-size: var(--font-size-text-default);
		padding: var(--spacing-sm);
	}
}
