@use '../variables';

.form-input {
	background: var(--color-form-input-bg);
	border: 0;
	color: var(--color-text-primary);
	display: inline-flex;
	flex: 1;
	font-family: var(--font-family);
	font-size: var(--font-size-text-default);
	font-weight: var(--font-weight-normal);
	height: 100%;
	line-height: var(--font-line-height-text-default);
	outline: none;
	padding: var(--spacing-xs) var(--spacing-sm);

	&[type='number'] {
		flex: unset;
	}

	&::placeholder {
		color: var(--color-form-input-placeholder);
	}
}
