@use '../variables';

body {
	background: var(--color-gradient-primary);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-header {
	align-items: center;
	backdrop-filter: blur(8px);
	border-bottom: 1px solid var(--color-border);
	display: flex;
	justify-content: space-between;
	padding: var(--spacing-lg) var(--spacing-xl);

	&--content {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-xxs);
	}
}

.site-content {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: var(--spacing-md);
	padding: var(--spacing-md);
}

.row {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);

	@media (min-width: variables.$breakpoint-desktop) {
		flex-direction: row;
	}
}
