@use '../variables';

body {
	background: linear-gradient(to bottom, var(--color-bg-primary), var(--color-bg-secondary));
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body.no-scroll {
	overflow: hidden;
	position: fixed;
	width: 100%;
}

.site-header {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: var(--spacing-md) var(--spacing-md) 0;
	width: 100%;

	&--title {
		align-items: center;
		display: flex;
		width: 100%;
	}

	&--logo {
		max-width: 70vw;
		width: 100%;

		@media (min-width: variables.$breakpoint-desktop) {
			max-width: 400px;
		}
	}
}

.site-content {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: var(--spacing-md);
	padding: var(--spacing-md);
}

.row {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
	justify-content: center;
	position: relative;

	@media (min-width: variables.$breakpoint-desktop) {
		flex-direction: row;
	}
}

.column {
	display: flex;
	flex: 1;
	width: 100%;

	@media (min-width: variables.$breakpoint-desktop) {
		&.align-left {
			justify-content: flex-start;
		}

		&.align-center {
			justify-content: center;
		}

		&.align-right {
			justify-content: flex-end;
		}
	}
}
