body {
	color: var(--color-text-primary);
	font-family: var(--font-family);
	font-size: var(--font-size-text-default);
	font-weight: var(--font-weight-normal);
	line-height: var(--font-line-height-text-default);
}

h1, h2, h3, h4, h5, h6 {
	font-size: var(--font-size-text-xlarge);
	font-weight: var(--font-weight-normal);
}

.text-size-small {
	font-size: var(--font-size-text-small);
}

.text-size-large {
	font-size: var(--font-size-text-large);
}

.text-size-xlarge {
	font-size: var(--font-size-text-large);
}

.text-color-secondary {
	color: var(--color-text-secondary);
}
